:root {
  --color-azul: #2B4162;
  --color-azul2: #385F71;
  --color-blanco: #F5F0F6;
  --color-marron: #D7B377;
  --color-marron2: #8F754F;

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

